# Android Studio / Gradle
.gradle
build/
captures/
gradle/
local.properties
generated_files/
.lsp/

.idea/
*.iml
*.ipr
*.iws

.android/
leidian/
Sdk/
Studio/
Release/
*.exe
*.zip
analytics.settings

*.apk
*.ap_
*.dex
*.class
*.log

.DS_Store
Thumbs.db

*.swp
*~